<%- include("./partials/header")  %>
<nav class="navbar">
  <h1 class="navtitle" href="/">Todo App</h1>
</nav>

<main>
  <form action="/add/item" method="POST">
    <input type="text" name="item" placeholder="Enter Item Name">
    <input type="submit" value="Add Item">
  </form>
  <ul class="itemlist">
    <% item.forEach(items => { %>
    <li class="item"><%= items.item %> <a href="/delete/item/<%= items._id %>"
            class="btn">Delete</a></li>
    <% }) %>

  </ul>
</main>





<%- include("./partials/footer")  %>
